* {
  margin: 0;
  padding: 0;
}

body {
  background: #282f3e;
  color: #e9f0f4;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* Header Menu */
.menu_container {
  display: flex;
  justify-content: space-between;
  /* display: none; */
  margin: 10px 30px;
  
}

.desktop_header {
  font-size: 35px;
}

.menu {
  display: flex;
  list-style: none;
}

.menu_item {
  display: none;
  margin-left: 10px;
}

.burger {
  font-size: 35px;
}

/* Log in section */
.log_in_section {
  width: 50%;
  margin: 100px auto;
  text-align: center;
  display: none;
}

.login_form {
  display: flex;
  flex-direction: column;
}

.mobile_header {
 margin-bottom: 80px;
 font-size: 40px;
 font-weight: 150;
}

.login_form input {
  background: none;
  border: none;
  border-bottom: 2px solid #e9f0f4;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  text-align: center;
}

.login_button {
  background: none;
  color: #e9f0f4;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  border: 2px solid #e9f0f4;
  margin-top: 50px;
}


/* Weekly Budget Section */
.enterweeklybudget {
  /* display: none; */
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

.weekly_budget_title {
  /* display: none; */
  font-size: 25px;
  font-weight: 100;
  margin: 20px 0px;
}

.weekly_budget_title_sub {
  font-size: 22px;
  font-weight: 100px;
  margin-bottom: 15px;
  font-weight: 100;
}

.enterweeklybudget input {
  background: none;
  border: none;
  border-bottom: 2px solid #e9f0f4;
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  text-align: center;
}

.enterweeklybudget label {
  margin-top: -15px;
  font-weight: 100;
}

.save {
  background: none;
  color: #e9f0f4;
  padding: 20px;
  font-size: 18px;
  font-weight: 100;
  border: 2px solid #e9f0f4;
  margin-top: 40px;
}

/* Weekly Total Section */
.weekly__total--container {
  display: none;
}

/* Log Purcheses Section */
.purchases {
  display: none;
}

.hidden {
  display: none;
}